@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* Inicio Menu */

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  transition: all 0.35s;
  font-weight: 200;
  letter-spacing: 1px;
  position: fixed;
  width: 100%;
}

#mainNav .navbar-brand {
  color: #111B47;
  font-weight: 600;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
  color: #fcbd20;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #fdcc52 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #fdcc52;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
}
.menuFixo {
  position: fixed;
  top: 0px!important;
  background-color: white!important;
  width: 100%;
  z-index: 999999;
  box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
}


ul.navbar-nav.ml-auto {
  align-items: center;
}
@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover,
  #mainNav .navbar-brand:focus {
  
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: #111B47;
    font-weight: 500;
    font-size: 15px;
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: #30428c;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
}



/* FIM Menu */



/* ========================== ESTILIZAÇÃO DE LUIS ================================= */

.section-1-luis {
  background-image: url(../img/image-home.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 66%;
  height: 915px;
  background-position-x: right;
}
.group-section-1 {
  position: relative;
  top: 215px;
  margin-left: 6%;
}
h1.title-section-1 {
  font-size: clamp(2rem, 3.6rem, 5rem);
  margin-bottom: 30px;
}
p.description-section-1 {
  font-size: clamp(1rem, 1.1rem, 1.7rem);
  color: #505F98;
  margin-bottom: 45px;
}
button.button-section-1 {
  background: #111B47;
  color: white;
  width: 15%;
  height: 46px;
  border: none;
}
button.button-section-1:hover {
  background: white;
  color: #111B47;
  border: #111B47 2px solid;
  transition: .5s;
  font-weight: 600;
}
button.button2-section-1 {
  background: white;
  color: #111B47;
  width: 15%;
  height: 46px;
  border: #111B47 2px solid;
  font-weight: 600;
}
button.button2-section-1:hover {
  background: #111B47;
  color: white;
  border: none;
  transition: .5s;
  font-weight: 400;
}
/* ========================== ESTILIZAÇÃO DE LUIS ================================= */



/* ========================== */



/* ========================== ESTILIZAÇÃO DE YCARO ================================= */


/* ========================== ESTILIZAÇÃO DE YCARO ================================= */




/* =========================== */




/* ========================== ESTILIZAÇÃO DE LETICIA ================================= */


/* ========================== ESTILIZAÇÃO DE LETICIA ================================= */




/* ========================== */



/* ============================= ESTILIZAÇÃO DO RENATO ================================== */
.caixa {
  
  display: flex;
  
  
}
/* ============================= ESTILIZAÇÃO DO RENATO ================================== */



/* ============================= */


/* ================================ ESTILIZAÇÃO DE LUIS,LETICIA ============================= */


/* ================================ ESTILIZAÇÃO DE LUIS,LETICIA ============================= */



/* =================================== */


/* ================================== ESTILIZAÇÃO DE YCARO,RENATO ============================== */

.sitetop {

  
    
     
    text-align: center;
     
        
}

  #botao{ text-align: center }
  .botaoEnviar{
      width: 150px;
      text-align: center;
      padding: 4px 4px;
      border: 1px solid rgb(255, 255, 255);
      border-radius: 7px;
      background-color: #6b64ca;
      font-size: 16px;
      color: rgb(235, 229, 229);
      cursor: pointer;
      
}



/* ================================== ESTILIZAÇÃO DE YCARO,RENATO ============================== */